{% extends 'base.html.twig' %}

{% block title %}Vendre un bien{% endblock %}

{% block meta %}
    <meta name="description" content="Estimation, mise en valeur de votre bien, accompagnement, visites : optimiser la vente de votre bien est notre priorité.">
{% endblock %}

{% block body %}
    <section class="container-main">
        <div class="container-header-main">
                {{ include('_include/_mainNavigationBlack.html.twig') }}
    </div>
</section>
<section class="bloc-contact container-small">
    <h1><span class="title-anim-bis">Nous vous accompagnons dans la vente de votre bien</span></h1>
    <p>Estimation, mise en valeur de votre bien, accompagnement, visites : optimiser la vente de votre bien est notre priorité.</p>
</section>

<section class="container-bg">
    <div class="container-medium container-offer text-white">
        <div class="bloc-offer">
            <svg xmlns="http://www.w3.org/2000/svg" width="122.988" height="101.249" viewBox="0 0 122.988 101.249">
                <g id="Groupe_426" data-name="Groupe 426" transform="translate(-559 -862.563)">
                    <g id="home" transform="translate(560 863.563)">
                        <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                    <g id="search" transform="translate(618.278 884.818) rotate(-9)">
                        <circle id="Ellipse_13" data-name="Ellipse 13" cx="23.5" cy="23.5" r="23.5" transform="translate(0 0)" fill="#685d58" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <line id="Ligne_161" data-name="Ligne 161" x1="14.54" y1="14.54" transform="translate(39.433 41.606)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                    <g id="check-circle" transform="translate(632.619 892.59)">
                        <path id="Tracé_312" data-name="Tracé 312" d="M17.305,7.862v.8A8.653,8.653,0,1,1,12.174.75" transform="matrix(0.809, 0.588, -0.588, 0.809, 10.172, 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                    <path id="Tracé_320" data-name="Tracé 320" d="M-7825,14865.895h8.8" transform="translate(8458.619 -13963.447)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                    <path id="Tracé_321" data-name="Tracé 321" d="M-7825,14865.895h8.8" transform="translate(8458.619 -13958.988)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
                </g>
            </svg>
            <h3>Estimation de votre bien</h3>
            <p>Votre bien est unique. Pour le vendre à sa juste valeur, il est primordial de connaître ses spécificités et sa position sur le marché. Profitez de l’expertise de Jade pour estimer votre bien gratuitement.</p>
        </div>
        <div class="bloc-offer">
            <svg xmlns="http://www.w3.org/2000/svg" width="119.509" height="101.249" viewBox="0 0 119.509 101.249">
                <g id="Groupe_424" data-name="Groupe 424" transform="translate(-139 -862.416)">
                    <g id="home" transform="translate(140 863.416)">
                        <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                    <path id="message-circle" d="M3,25.889A22.566,22.566,0,0,0,5.424,36.122,22.889,22.889,0,0,0,25.889,48.779a22.566,22.566,0,0,0,10.233-2.424l15.349,5.116L46.355,36.122a22.566,22.566,0,0,0,2.424-10.233A22.889,22.889,0,0,0,36.122,5.424,22.566,22.566,0,0,0,25.889,3H24.543A22.836,22.836,0,0,0,3,24.543Z" transform="translate(199.245 881.826) rotate(-8)" fill="#685d58" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </g>
            </svg>
            <h3>Communication</h3>
            <p>Pour sublimer votre bien et mettre en avant son potentiel, Jade Immobilier met à votre disposition des services premium. Jade valorise votre bien de façon professionnelle : photographies de haute qualité et fiche-produit rédigée minutieusement. Votre logement sera la star de nos réseaux, avec une publication dédiée lors de la mise en vente.</p>
        </div>
        <div class="bloc-offer">
            <svg xmlns="http://www.w3.org/2000/svg" width="114.324" height="101.249" viewBox="0 0 114.324 101.249">
                <g id="Groupe_428" data-name="Groupe 428" transform="translate(1 1)">
                    <g id="home">
                        <path id="Tracé_315" data-name="Tracé 315" d="M3,36.737,47.662,2,92.324,36.737V91.324a9.925,9.925,0,0,1-9.925,9.925H12.925A9.925,9.925,0,0,1,3,91.324Z" transform="translate(-3 -2)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Tracé_316" data-name="Tracé 316" d="M9,61.625V12H38.775V61.625" transform="translate(20.775 37.625)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                    <g id="Ellipse_14" data-name="Ellipse 14" transform="translate(66.324 16.445)" fill="#685d58" stroke="#fff" stroke-width="2">
                        <circle cx="23.5" cy="23.5" r="23.5" stroke="none"/>
                        <circle cx="23.5" cy="23.5" r="22.5" fill="none"/>
                    </g>
                    <g id="refresh-cw" transform="translate(79.648 31.122)">
                        <path id="Tracé_317" data-name="Tracé 317" d="M22.55,4V9.55H17" transform="translate(-2.199 -3.077)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Tracé_318" data-name="Tracé 318" d="M1,19.55V14H6.55" transform="translate(-1 -3.826)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path id="Tracé_319" data-name="Tracé 319" d="M3.322,8.551A8.326,8.326,0,0,1,17.059,5.442l4.292,4.033M1,13.176l4.292,4.033A8.326,8.326,0,0,0,19.03,14.1" transform="translate(-1 -3.002)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                </g>
            </svg>
            <h3>Accompagnement et suivi</h3>
            <p>Lors des visites, il est important de faire une bonne première impression sur votre logement. Pour ce faire, nous vous donnerons de précieux conseils et accompagneront vos potentiels futurs acquéreurs pour souligner les caractéristiques uniques de votre bien.</p>
        </div>
    </div>
</section>

<section class="container-small">
    <div class="bloc-contact">
        <h2>Votre estimation gratuite</h2>
        <p>Votre logement est singulier et ne ressemble à aucun autre. Il vous est donc difficile de lui donner un prix. C’est pourquoi Jade Immobilier vous offre l’estimation de celui-ci. Expert du domaine, nous estimons votre bien à sa juste valeur.</p>
    </div>
    <div class="bloc-form" >
        <form method="post" action="">
            {% for message in app.flashes('success') %}
                <div class="greenalert">
                    <div class="close" id="close" onclick="$('.fas').parents('.greenalert').remove();"><i
                                class="fas fa-times"></i></div>
                    <div class="success-alert">
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="redalert">
                    <div class="close" id="close" onclick="$('.fas').parents('.redalert').remove();"><i
                                class="fas fa-times"></i></div>
                    <div class="danger-alert">
                        <p>{{ message }}</p>
                    </div>
                </div>
            {% endfor %}
            <h3>Les caractéristiques du bien</h3>
            <div class="bloc-form_item">
                <p>Type de bien</p>
                <div>
                    <input type="checkbox" id="appartement" name="appartement">
                    <label for="appartement">Appartement</label>
                </div>
                <div>
                    <input type="checkbox" id="villa" name="villa">
                    <label for="villa">Villa</label>
                </div>
                <div>
                    <input type="checkbox" id="chateau" name="chateau">
                    <label for="chateau">Château</label>
                </div>
                <div>
                    <input type="checkbox" id="immeuble" name="immeuble">
                    <label for="immeuble">Immeuble</label>
                </div>
                <div>
                    <input type="checkbox" id="bureaux" name="bureaux">
                    <label for="bureaux">Bureaux</label>
                </div>

            </div>
            <div class="bloc-form_item">
                <label for="start">Disponibilité du bien</label>
                <input type="date" id="start" name="trip-start"
                       value="2022-10-27">
            </div>
            <div class="bloc-form_item">
                <label for="surface">Surface du bien</label>
                <div class="form_item-cadre">
                    <input type="number" id="surface" name="surface" value="1"><span>m2</span>
                </div>
            </div>
            <div class="bloc-form_item">
                <label for="adress">Adresse du bien</label>
                <input type="text" name="adress" placeholder="Compléter par l’adresse du bien">
            </div>
            <div class="bloc-form_item-cadre">
                <div class="bloc-form_item">
                    <label for="ville">Ville</label>
                    <input type="text" name="ville" placeholder="Ville">
                </div>
                <div class="bloc-form_item">
                    <label for="code">Code postale</label>
                    <input type="text" name="code" placeholder="Code postal">
                </div>
            </div>
            <div class="bloc-form_item">
                <label for="description">Description compléte du bien</label>
                <textarea id="description" name="description" rows="5" cols="33" placeholder="Exemple : Je vends une villa de 300m2 avec un parc arboré de 1000m2. La villa possède 4 chambres avec salle de bain attenante, un séjour avec une cuisine américaine, un sellier et deux garages."></textarea>
            </div>
            <h3>Vos informations</h3>
            <div class="bloc-form_item">
                <label for="name">Votre nom et prénom</label>
                <input type="text" name="name" placeholder="Indiquez votre nom et prénom">
            </div>
            <div class="bloc-form_item">
                <label for="email">Votre adresse mail</label>
                <input type="email" name="email" placeholder="Indiquez votre adresse mail">
            </div>
            <div class="bloc-form_item">
                <label for="tel">Votre numéro de téléphone</label>
                <input type="tel" name="tel" placeholder="Indiquez votre numéro de téléphone">
            </div>
            <div>
                <input class="button-1" type="submit" value="Envoyer ma demande">
            </div>
        </form>
    </div>
</section>
    {{ include('_include/_mainFooter.html.twig') }}
{% endblock %}
{% block javascripts %}

{% endblock %}
