<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="css/root.css">
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/footer.css">
            <link rel="stylesheet" href="css/button.css">
            <link rel="stylesheet" type="text/css" href="css/slick.css" />
        {% block stylesheets %}

        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
